@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --foreground: oklch(0.0706 0.0145 82.32);
    --background: oklch(0.9913 0.0118 184.09);
    --primary: oklch(0.5618 0.2023 260.47);
    --secondary: oklch(0.7455 0.1455 260);
    --tertiary: oklch(0.85 0.1455 184.09);

    /* Color Pallete */
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);
    --color-accent: oklch(0.65 0.25 90);
    --color-muted: oklch(0.7 0.05 260);
    --color-border: oklch(0.6 0.02 260);
    --color-primary-100: oklch(0.9 0.1 260);
    --color-primary-200: oklch(0.8 0.15 260);
    --color-primary-300: oklch(0.7 0.2 260);
    --color-primary-400: oklch(0.6 0.25 260);
    --color-primary-500: oklch(0.5 0.3 260);
    --color-primary-600: oklch(0.4 0.35 260);
    --color-primary-700: oklch(0.3 0.4 260);
    --color-primary-800: oklch(0.2 0.45 260);
    --color-primary-900: oklch(0.1 0.5 260);
    /* Fonts */
    --fonts-Lato: 'Lato', sans-serif;
    --font-geist-sans: 'Geist Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-geist-mono: 'Geist Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);
}


.dark {
    --background: oklch(0.0706 0.0145 82.32);
    --foreground: oklch(0.9913 0.0118 184.09);
    --primary: oklch(0.5618 0.2023 260.47);
    --secondary: oklch(0.7455 0.1455 260);
    --tertiary: oklch(0.85 0.1455 184.09);

}




body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
